.button {
  font: inherit;
  cursor: pointer;
  border: none;
  background-color: #2b2e36;
  color: white;
  padding: 10px 16px;
  border-radius: 25px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0.5em;
}

.button:hover,
.button:active {
  background-color: #23242a;
}

.link {
  color: white;
  text-decoration: none;
}
