.input {
  margin: 0.5rem 0;
  padding: 1rem;
  flex-wrap: wrap;
  color: #525252;
  border-radius: 10px;
}

.input:hover,
.input:active {
  background: #d8dbec;
}
.signingActivity {
  color: #a7a5a5;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signUp {
  color: #525252;
  text-decoration: none;
  font-size: 19px;
}

.forgotPass {
  color: #525252;
  text-decoration: none;
  font-size: 19px;
}

.muiAlert {
  color: #d63301;
  background-color: #ffccba;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
