.input {
  margin: 0.5rem 0;
  padding: 1rem;
  flex-wrap: wrap;
  color: #525252;
  border-radius: 10px;
}

.input:hover,
.input:active {
  background: #d8dbec;
}

.link {
  text-decoration: none;
}

.success,
.failed {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  font-weight: bold;
}

.success {
  color: #270;
  background-color: #dff2bf;
}

.failed {
  color: #d8000c;
  background-color: #ffbaba;
}
