/* .input {
  margin: 0.5rem 0;
  padding: 1rem;
  flex-wrap: wrap;
  color: #525252;
  border-radius: 10px;
}

.input:hover {
  background: #d8dbec;
}

.input.invalid {
  border: 2px solid #d63301;
  background: #ffd7d7;
}

.signIn {
  color: #a7a5a5;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.signInLink {
  text-decoration: none;
} */
